<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuweiliang.demo1.mapper.AdminMapper">
    <!-- 对应 all() 方法 -->
    <select id="all" resultType="com.liuweiliang.demo1.entity.vo.AdminVO">
        SELECT * FROM erp_admins
    </select>

    <!-- 对应 show() 方法 -->
    <select id="show" parameterType="java.lang.String" resultType="com.liuweiliang.demo1.entity.vo.AdminVO">
        SELECT * FROM erp_admins WHERE id = #{id}
    </select>
</mapper>